# Ignore Qodo folder
.qodo/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments (recommended)
env/
venv/
.timable/
*.env


storing.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE folders
.vscode/
.idea/
